@font-face {
  font-family: 'objectivebold_italic';
  src: url('../font/objective-bold-italic-webfont.woff2') format('woff2'),
       url('../font/objective-bold-italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}